#add_open{
	background-color: #8BC34A;
    border: none;
    margin: 10px 0;
    padding: 10px 22px;
    color: #FFF;
    font-size: medium;
    cursor: pointer;
}
#add_open:hover{
	box-shadow: 0px 7px 4px -7px rgba(30,30,30,0.4);
}
.hide_ceil{display: none;}
.tabla{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
.tabla>caption{
	position: relative;
	padding: 5px 10px;
    background-color: #23282d;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
}
.tabla>caption>span{
	position: absolute;
    left: 14px;
    top: 3px;
    font-size: 0.9em;
    color: #FFF;
    cursor:pointer;
    font-weight: 300;
    text-transform: lowercase;
}
.tabla>caption>span:hover{
	color:#6495ed;
    text-decoration: underline;
}
.open_table ~ thead{
	display: table-header-group;
}
.open_table ~ tbody{
	display: table-row-group;
}
.close_table ~ thead,.close_table ~ tbody{
	display: none;
}

th{
	padding: 7px;
    background-color: #0073aa;
    color: #FFF;
    font-weight: 400;
}
tbody tr:nth-child(even){background-color: #dcdcdc}
.tabla tbody tr td{
	padding: 3.5px 0;
}
td i,span+a{
	color: #6495ed;
    font-size: 0.9em;
    cursor: pointer;
    text-transform: lowercase;
}

td i:hover,span+a:hover{
	text-decoration: underline;
}

td>input[type="text"],td>input[type="number"]{
	font-size: 0.8em;
}

.add_row{display: none;}
.tabla tfoot {background-color: currentColor}
.editing_price{
	position: absolute;
	display: none;
	opacity: 1;
    top: -3px;
    left: -6%;
    min-width: 120px;
    background-color: inherit;
}
.editing_price>form>input[type="number"]{width:80px}
.editing_price>form>input[type="submit"]{
	cursor:pointer;
	background-color: #0073aa;
    border: none;
    color: #FFF;
}
.editing_price>form>input[type="submit"]:hover{
	background-color: #8BC34A;
}

.price{width:90px}
.ch_price{width:168px}